spring:
  profiles:
    active: local
  output:
    ansi:
      enabled: always
  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB

  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    cache: false

mybatis:
  mapper-locations: "classpath:/mappers/**/*.xml"
  type-aliases-package: "com.shinhan.spp"
  configuration:
    map-underscore-to-camel-case: true