<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
  <property name="LOG_PATTERN" value="%boldGreen(%d{yy-MM-dd HH:mm:ss.SSS}) [%thread] [%highlight(%-5level)] %magenta(%-4relative) [%boldBlue(%logger{0}:%line)] - %boldYellow(%msg%n)"/>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${LOG_PATTERN}</pattern>
      <charset>UTF-8</charset>
    </encoder>
  </appender>

  <!-- You can tune levels per package -->
  <logger name="com.shinhan.spp" level="DEBUG"/>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>
