spring:
  profiles:
    default: local
  output:
    ansi:
      enabled: always
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    cache: false

mybatis:
  mapper-locations: "classpath:/mappers/**/*.xml"
  type-aliases-package: "com.shinhan.spp"
